/*Grid*/

main.grid {
  display: grid;
  grid-template-columns: repeat(5, calc(60%/5));
  grid-gap: 5rem calc(40%/4);
  align-items: flex-start;
}

main.grid .project {
  display: flex;
  flex-wrap: wrap-reverse;
}

main.grid .project .trigger {
  display: block;
  padding-bottom: .5rem;
  cursor: auto;
}

.desktop .project a:hover+.trigger wrap span:first-of-type {
  display: inline-block;
  white-space: nowrap;
}
