/* RESPONSIVE
================================================== */

/*DESKTOP GENERAL*/

@media (min-width: 813px) {}

/*BIGGER DESKTOP*/

@media (min-width: 1921px) {
    /*Texts*/
    html,
    body,
    input,
    button,
    select {
        font-size: 15px;
    }
    #tagline p {
        max-width: 1000px;
    }
    /*Index Grid*/
    main.grid {
        grid-template-columns: repeat(auto-fill,minmax(322px,1fr))
    }
    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(16, 1fr);
    }
}

/*NORMAL DESKTOP*/

@media (min-width: 1681px) and (max-width: 1920px) {
    /*Texts*/
    html,
    body,
    input,
    button,
    select {
        font-size: 14px;
    }
    #tagline p {
        max-width: 900px;
    }
    /*Index Grid*/
    main.grid {
        grid-template-columns: repeat(auto-fill,minmax(322px,1fr))
    }
    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(14, 1fr);
    }


    section.grid {
      grid-template-columns: repeat(auto-fill,minmax(322px,1fr))
    }
}

/*BIG LAPTOP DESKTOP*/

@media (min-width: 1440px) and (max-width: 1680px) {
    /*Texts*/
    html,
    body,
    input,
    button,
    select {
        font-size: 13px;
    }
}

/*IPAD*/

@media (max-width: 1025px) {
    /*Menu*/
    #tags ul {
        column-count: 4;
    }
    /*Index Covers*/
    main.covers .project.small {
        padding: 0 20%;
    }

    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(10, 1fr);
    }
    /*Project Page*/
    #project-header {
      grid-template-columns: 4fr 2fr 5fr 1fr;
    }
    #credits wrap div {
        grid-template-columns: 1fr 3fr;
    }
    /*Module Text*/
    .module-text p {
        width: 50%;
    }
    .module-text p.Right {
        margin: 0 0 0 auto;
    }
}

/*MOBILE LANDSCAPE*/

@media (max-width: 812px) {
    /*Menu*/
    #tags ul {
        column-count: 3;
    }
}

/*IPAD PORTRAIT*/

@media (max-width: 768px) {
    /*Menu*/
    #tags ul {
        column-count: 3;
    }
    /*Index Grid*/
    main.grid {
        grid-template-columns: repeat(auto-fill,minmax(322px,1fr))
    }
    /*Index Covers*/
    main.covers {
      padding: 100vh 1rem 0;
    }

    section.grid {
      padding: 100vh 1rem 0;
      grid-template-columns: repeat(auto-fill,minmax(322px,1fr))
    }

    main.covers .project {
        width: 100%;
        justify-self: flex-start;
    }
    main.covers .project:nth-child(odd) {
        justify-self: flex-end;
    }
    main.covers .project.big {
        width: 75%;
        padding: 0;
    }
    main.covers .project.medium {
        width: 50%;
        margin: 0;
        grid-column: 2 span;
    }
    main.covers .project.small {
        width: 40%;
        padding: 0;
        grid-column: 2 span;
    }
    /*Index List*/
    main.list .project .wrapper {
        padding: 1rem 0 2.75rem 0;
    }
    main.list .project .wrapper .images+a {
        padding: 0;
    }
    main.list .project .wrapper .images {
        grid-template-columns: repeat(8, 1fr);
    }
    /*Back to top*/
    /* #top{
		margin: 4rem auto 2rem;
	} */
    /*Project Page*/
    .module-two-columns .small {
        margin: 0 calc(100%/6);
    }
    #credits {
        grid-template-columns: 1fr 1fr;
    }
    #credits wrap div {
        grid-template-columns: 1fr 2fr;
    }
}

/*SMALL TABLET*/

@media (max-width: 600px) {
    /*Back to top*/
    #top {
        position: initial;
        opacity: 1 !important;
    }
    main.scroll~#top {
        bottom: 3.25rem;
    }
    /*Index*/
    main {
      padding: 100vh 1rem 5rem;
    }
    main.list {
        padding: 2.5rem 1rem 0;
    }
    /*Index Covers*/
    main.covers {
        grid-gap: 3rem;
    }
    main.covers .project.big {
        width: 100%;
    }
    main.covers .project.medium {
        width: 75%;
    }
    main.covers .project.small {
        width: 50%;
    }
    /*Index Grid*/
    main.grid {
        grid-template-columns: 1fr 1fr;

    }

    section.grid {
      grid-template-columns: 1fr 1fr;
    }
    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(6, 1fr);
    }
    /*Index Scroll*/
    body.scroll-active menu {
        margin-bottom: calc(10.25rem + 2em);
    }
    /*Project Page*/
    #close {

    }
    #project-header {
        margin-bottom: 3rem;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        time {
          justify-self: start;
        }
        p {
          justify-self: start;
        }
    }
    #project-header span {
        margin-bottom: 2rem;
        justify-self: flex-end;
    }
    .iframe-wrapper.module-full-width.small,
    .iframe-wrapper.module-full-width.medium {
        width: 100%;
        margin: 1rem 0;
    }

    .module-full-width {
      width: 100%;
    }
    .module-full-width.medium,
    .module-full-width.small {
        height: auto;
        margin: 1rem 0;
        padding: 0;
    }
    .module-two-columns {
      padding: 0;
        grid-template-columns: 1fr;
    }
    .module-two-columns .module-right {
        grid-column: auto;
    }
    .module-two-columns .small {
        width: 100%;
        margin: 0;
    }
.module-gallery {

  padding: 0;
}
    .module-full-width-video {
      padding: 0;
    }
    .module-text {
        margin: 5rem 0;
        padding: 0;
    }
    .module-text p {
        width: 100%;
        min-width: 0;
        padding: 0 1rem;
        margin: 0 !important;
        text-align: left !important;
    }
    #barba-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      }
    #credits {
        margin: 5rem 0;
        grid-template-columns: 1fr;
        padding: 0
    }
    #credits>br {
        display: none;
    }
    #credits wrap {
        grid-gap: 2rem;
    }
    #credits wrap div {
        grid-template-columns: 1fr;
    }
    #credits wrap div span:first-child {
        padding: 0 0 .5rem;
    }
    #related {
        margin-top: 5rem;
    }
}

/*MOBILE*/

@media (max-width: 414px) {
    /*Menu*/
    section {
        padding: .75rem 0 0;
    }
    section wrap p,
    section ul {
        padding-left: 1rem;
    }
    #tags ul {
        width: 95vw;
    }
    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(5, 1fr);
    }
}

/*SMALL MOBILE*/

@media (max-width: 320px) {
    /*Menu*/
    #tags ul {
        column-count: 1;
    }
    menu>wrap {
        padding: 0
    }
    menu .wrapper:not(.contact) {
        width: calc(100vw - 2rem);
    }
    #tags {
        margin-left: -1rem;
    }
    #tags ul {
        width: 75vw;
        padding-left: 2rem;
    }
    /*Index Covers*/
    main.covers .project.medium {
        width: 85%;
    }
    main.covers .project.small {
        width: 70%;
    }
    /*Index List*/
    main.list .project .wrapper .images {
        grid-template-columns: repeat(4, 1fr);
    }
}
