#preload-homepage {
  display: none;
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  justify-content: center;
  transition: background var(--duration) ease;
  background-color: var(--background-color-alpha);
  backdrop-filter: saturate(180%) blur(150px);
  .intro {
    align-items: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    padding: calc(var(--lineHeight) * 3);
    .intro-items {
      text-align: center;
    }
  }
}
