::selection {
  background: var(--primary-color);
}
::-moz-selection {
  background: var(--primary-color);
}

:root {
  --fontSize: 15px;
  --lineHeight: calc(var(--fontSize) * 1.5);
  --columnGap: calc(var(--lineHeight) * 2);
  --rowGap: var(--lineHeight);
  --displayScale: 1;
  --pixel: 1px;
  // ColorSettings
  --background-color: #f5fbff;
  --foreground-color: #17181e;
  --primary-color: #ff4c00;
  // Modal
  --overlay: rgba(0, 0, 0, 0.5);
  --error-form: #f91153;
  --sub-headline: #7b7b81;
  --disabled: #7b7b81;
  --active-form-visited: #2afc85;
  --trackBg: #bdbdbd;
  --trackFocus: #cacaca;
  --thumbBg: #666;
}
@supports (font-variation-settings: normal) {
  :root {
    --sansFont: 'HelveticaNeueLTPro-Roman', '-apple-system', 'system-ui',
      'Arial', sans-serif;
    --monoFont: 'iaw-mono-var';
  }
}
@media only screen and (min-resolution: 1.5dppx) {
  :root {
    --displayScale: 2;
    --pixel: 0.5px;
  }
}
@media only screen and (min-resolution: 2.5dppx) {
  :root {
    --displayScale: 3;
    --pixel: 0.34px;
  }
}
@media only screen and (min-resolution: 3.5dppx) {
  :root {
    --displayScale: 4;
    --pixel: 0.25px;
  }
}

/* document */
html {
  scrollbar-width: none;
  font-size: var(--fontSize);
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: var(--sansFont), 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  font-display: swap;
  line-height: var(--lineHeight);
  background: var(--background-color);
  color: var(--foreground-color);
  letter-spacing: -0.01em;
  text-size-adjust: 100%;
  font-variant-ligatures: contextual common-ligatures, discretionary-ligatures;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'cv10' 1;
  box-sizing: border-box;
  font-smooth: antialiased;
  text-transform: uppercase;
  cursor: url("data:image/svg+xml,%3Csvg height='14' width='14' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' fill='rgb(255, 76, 0)' r='8'/%3E%3C/svg%3E") 3 3, auto;
}

main {
  min-height: 100vh;
  padding: calc(var(--lineHeight) * 0.5) calc(var(--lineHeight) * 2);
}

@media only screen and (max-width: 768px) {
  main {
    min-height: calc(100vh - 200px);
    padding: var(--lineHeight);
    padding-bottom: calc(var(--lineHeight) * 2);
  }
  main#index {
    min-height: calc(100vh - 200px);
    padding: var(--lineHeight);
    padding-top: 0;
    padding-bottom: calc(var(--lineHeight) * 2);
  }
}

.lazy {
  transition-property: filter;
  filter: blur(3px);
  background-size: cover;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: 0.25s;
}

.blur {
  filter: none;
  transition-property: filter;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: 0.25s;
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.flex-h {
  flex-direction: row;
}
.flex-h,
.flex-v {
  display: -webkit-box;
  display: flex;
}
.flex-v {
  flex-direction: column;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.flex-v.center {
  align-self: center;
}
.flex-h .bottom {
  align-self: flex-end;
}

img,
video,
iframe {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  font-size: 0;
  user-select: none;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-directon-r {
  flex-direction: row;
}
.margin-right-s  {
  margin-right: 0.5rem;
}
.margin-top-s  {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  position: relative;
  span.icon-right {
    transform: rotate(0deg);
    position: absolute;
    margin-left: 5px;
  }
}

a:hover {
  color: var(--primary-color);
  transition: color 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
  span.icon-right {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
  }
}

a.active {
  color: var(--primary-color);
  transition: color 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
  span.icon-right {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
  }
}
