
@keyframes blinker{
	0% {
	    color: var(--primary-color);
	}
	49%{
		 color: var(--primary-color);
	}
	50% {
	  color: transparent;
	}
	100% {
		color: transparent;
	}
}

#top {
  position: sticky;
  position: -webkit-sticky;
  width: 100vw;
  bottom: 2rem;
  padding: 1rem;
  margin: 4rem auto 2rem;
  line-height: normal;
  clear: both;
  text-align: center;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease-out;
  span {
    cursor: pointer;
    pointer-events: all;
    :first-child::after {
      content: 'BACK TO TOP'
    }
    :last-child::after {
      content: '↑';
    }
  }
  span:hover {
    span:last-child {
      animation: blinker .5s linear infinite;
    }
  }
}

#top.active {
  opacity: 1;
  pointer-events: all;
}
