footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.legal,
.footer-nav,
.footer-social {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  a {
    margin-right: 2em;
  }
  a:last-child {
    margin-right: 0;
  }
}
.footer-mobile {
  display: none;
}

.footer-social {
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
  }
  .footer-nav,
  .footer-social {
    display: none;
  }
  .footer-mobile {
    display: flex;
    grid-column: 1 / 5;
    flex-direction: column;
    margin-bottom: 20px;
    a {
      border-top: 1px solid var(--foreground-color);
      span {
        right: 0px;
      }
    }
  }
  .legal {
    display: flex;
    grid-column: 1 / 5;
    flex-direction: row;
    a {
      margin-right: 0;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}
