// Header
@keyframes blinker-dark-sun {
  0% {
    fill: var(--primary-color);
  }
  49% {
    fill: var(--background-color);
  }
  50% {
    fill: var(--foreround-color);
  }
  100% {
    fill: var(--primary-color);
  }
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}


header:not(.post-header) {
  position: sticky;
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 0.1fr repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: var(--rowGap);
  align-items: center;
  padding: 1rem 1rem 5rem;
  text-transform: uppercase;
  z-index: 10;
  color: var(--foreground-color);
  .dark-mode-toggle {
    display: flex;
    svg {
      height: 1.5em;
    }
    svg:hover {
      animation-name: rotate;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    #sun:hover {
      cursor: pointer;
        path {
          fill: var(--primary-color-blend);
          animation: blinker-dark-sun 0.5s linear infinite;
        }
    }
    #sun-group {
      .st0 {
        fill: none;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }
    }
    .switch,
    .switchBackground {
      display: none;
    }
  }

  a:not(.home-logo):not(.dark-mode-toggle) {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 2em;
  }
  a:not(.dark-mode-toggle):hover {
    color: var(--primary-color);
    transition: color 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms;
  }
  .active {
    color: var(--primary-color);
  }
}
.desktop-nav,
.dark-mode-toggle {
  display: grid;
  grid-auto-flow: column;
  place-self: normal;
  grid-row: 1;
}
.dark-mode-toggle {
  grid-column: 1 / 2;
}
.desktop-nav {
  grid-column: 2 / 3;
  display: flex;
  padding: 0;
  font-size: 20px;
}
.home-logo {
  grid-column: 1 / 9;
  grid-row: 1;
  justify-self: end;
  pointer-events: none;
  width: 100%;
  transition: width 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  .noise {
    overflow: hidden;
    .title {
      position: relative;
      font-size: 14.4vw;
      line-height: 16.8vw;
      top: 50vh;
      transition: font-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
      top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }
}


.page-title-animation {
  .noise {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    .title {
      top: 0;
      transition: top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }
}

.scroll-active {
  pointer-events: all;
  width: 10%;
  transition: width 1.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  .noise {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    .title {
      position: relative;
      font-size: 1.7vw;
      top: 0;
      line-height: 0px;
      right: 1em;
      transition: font-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }
}

@media only screen and (max-width: 720px) {
  header:not(.post-header) {
    grid-template-columns: 0.5fr 4fr 2fr;
    padding: 1em;
    padding-bottom: 0;
    .dark-mode-toggle {
      grid-column: 1 / 2;
    }
    .desktop-nav {
      grid-column: 2 / 3;
    }
    .home-logo,
    .scroll-active {
      grid-column: 3 / 5;
      justify-self: end;
    }
  }
  .home-logo {

  }
  .scroll-active {

  }
}

@media only screen and (max-width: 460px) {
  header:not(.post-header) {
    height: 100vh;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    transition: height 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    .dark-mode-toggle {
      grid-column: 1 / 3;
      grid-row: 1;
      justify-self: end;
      align-self: end;
      svg {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .desktop-nav {
      font-size: 20px;
      line-height: 22px;
      grid-column: 1 / 2;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .scroll-nav {
      bottom: -300px;
      transition: bottom 0.8s ease-in-out, font-size 0.4s linear;
      transition-delay: 0.5s;
      position: relative;
    }

    .scroll-nav-active {
      bottom: 1px;
      transition: bottom 0.8s ease-in-out, font-size 0.4s linear;
      transition-delay: 0.5s;
      position: relative;
    }

    .home-logo {
      grid-column: 1 / 3;
      justify-self: start;
      align-self: start;
      grid-row: 1;
      width: 100%;
      .noise {
        overflow: hidden;
        .title {
          font-size: 13.8vw;
          line-height: 16.8vw;
          transition: font-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }
    }
    .scroll-active {
      grid-column: 2 / 3;
      align-self: start;
      grid-row: 1;
      .noise {
        position: absolute;
        top: 0;
        left: 0;
        overflow: visible;
        .title {
          position: relative;
          font-size: 7.9vw;
          top: 0;
          line-height: 30px;
          right: 1em;
          transition: font-size 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), top 1s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }
    }
  }
  // .scroll-header {
  //   height: 100px!important;
  //   transition: height 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  // }
}
