#wrapper {
  position: sticky;
  top: 300px;
  padding-top: calc(var(--lineHeight) * 1);
  transition: top 0.9s ease-in-out;
  width: 50%;
  margin: auto;
  z-index: 10;
}

.scroll-layout {
  top: 0px!important;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-gap: 1rem;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  div {
    display: grid;
    grid-gap: 0.3rem;
    user-select: none;
    justify-content: center;
    cursor: pointer;
    mix-blend-mode: difference;
    color: var(--foreground-color);
  }
  div:hover {
    color: var(--primary-color);
  }

  div.active {
    pointer-events: none;
    color: var(--primary-color);
    ::before {
      content: '[';
    }
    ::after {
      content: ']';
    }
  }
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}



@media only screen and (max-width: 600px) {
  #wrapper {
    top: 100vh;
    transition: top 0.8s ease-in-out;
  }
  .scroll-layout {
    top: 75px!important;
  }
}
