.jslghtbx {
  display: none;
}


.post-header {
  display: grid;
  grid-column-gap: 10px;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  .post-title {
    grid-column: 1 / 5;
    margin: 0;
    .title {
      margin-left: 20px;
    }
  }
  .post-meta-information {
    grid-column: 5 / 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    p {
      margin: 0;
    }
  }
}
.post.toggle {
  .post-header {
    height: 8rem;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
.post-title.toggle {
  padding-top: var(--line-height);
  font-size: 3.5rem;
  transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.toggle.post-title {
  white-space: initial;
}

.post {
  display: grid;
  height: 50px;
  border-bottom: 1px solid var(--foreground-color);
}

.client {
  justify-self: end;

}

.hide {
  display: none;
}

// Post-Slider Images
.slider {
  width: 100%;
  border-radius: var(--b-r-small);
}
.slider__next,
.slider__prev {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 10;
  top: 0;
}
.slider__next {
  right: 0;
  cursor: e-resize;
}
.slider__prev {
  cursor: w-resize;
}
.slick-slider {
  position: relative;
  display: grid;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide.slick-loading {
  img {
    display: none;
  }
}
.slick-slide.dragging {
  img {
    pointer-events: none;
  }
}
.slick-initialized {
  .slick-slide {
    display: grid;
  }
}
.slick-loading {
  .slick-slide {
    visibility: hidden;
  }
}
// Post-Video
button {
  background: 0 0;
  border: 0;
  outline: 0;
  color: var(--foreground-color);
}
.post-video {
  position: relative;
  display: block;
  video {
    display: block;
  }
}
.post-video[data-state='not-init'] {
  .vid-controls {
    visibility: hidden;
    opacity: 0;
  }
}
.post-video[data-state='initialized'] {
  .intro-play {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(2vw);
    filter: blur(2vw);
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s, -webkit-filter 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s, -webkit-filter 0.5s;
    transition: filter 0.5s, opacity 0.5s, visibility 0s 0.5s;
    transition: filter 0.5s, opacity 0.5s, visibility 0s 0.5s,
      -webkit-filter 0.5s;
  }
}
.post-video[data-controls='false'] {
  .vid-controls {
    display: none;
  }
}
.post-video[data-fullscreen='cancel-fullscreen'] {
  video {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.post-video.default-video {
  .vid-controls {
    display: none;
  }
}
.post-video:hover {
  .vid-controls {
    opacity: 1;
  }
}
.touch-device {
  .vid-controls {
    display: none !important;
  }
}
.toggle {
  .intro-play {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0s 0.75s;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 76px;
      line-height: 76px;
      border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      font-size: 16px;
    }
  }
}
.vid-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  .vid-icon {
    position: absolute;
    bottom: 2px;
    padding: 10px 0;
    color: var(--primary-color);
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .vid-playpause {
    left: 20px;
  }
  .vid-mute {
    right: 20px;
  }
  .vid-mute::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: calc(50% - 0px);
    background-color: var(--primary-color);
  }
  .vid-mute[data-state='unmute']::after {
    display: none;
  }
  .vid-fullscreen {
    background-image: url('/images/icons/fullscreen.svg');
    right: 60px;
    display: block;
    text-indent: -999px;
    overflow: hidden;
  }
  [data-fullscreen='cancel-fullscreen'] .vid-fullscreen {
    background-image: url('/images/icons/minimize.svg');
  }
  [data-fullscreen='go-fullscreen'] .vid-fullscreen {
    background-image: url('/images/icons/fullscreen.svg');
  }
  .vid-progress-wrap {
    height: 20px;
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    bottom: 35px;
    overflow: hidden;
  }
  .vid-progress-bar {
    width: 0%;
    float: left;
    height: 3px;
    background-color: var(--primary-color);
    margin-top: 8px;
    position: relative;
  }
  .vid-progress-bar::after {
    content: '';
    display: block;
    height: 3px;
    width: 100vw;
    position: absolute;
    right: -100vw;
    top: 0;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@media screen and (max-width: 1080px) {
  .post-header {
    .post-title {
      // font-size: 1.75em;
    }
  }
}

// Repo Layout
@media (min-width: 320px) and (max-width: 768px) {
  // Post Header
  .post-header {
    height: 3rem;
    align-items: center;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, 1fr) 0.5fr;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    .post-meta-information {
      display: none;
    }
    .post-title {
      // font-size: 1.5em;
      justify-self: start;
      align-self: center;
      transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
    post-header-toggle {
      grid-column: 4 / 5;
    }
    .post-header-toggle.toggle {
      .post-chevron {
        transform: translateY(12px);
      }
    }
  }
  .post.toggle {
    .post-header {
      height: 10rem;
      transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
  .post-title.toggle {
    padding-top: var(--line-height);
    font-size: 3rem;
    transition: font-size 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .post {
    height: 3rem;
  }
  // Post Content
  .post-content {
    padding: calc(var(--lineHeight) * 1) 0;
    grid-template-columns: repeat(2, 1fr);
    .work-description {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .work-subpage-link {
      grid-column: 1 / 3;
      grid-row: 2;
      align-self: start;
      a {
        margin: 0;
      }
    }
    .work-images,
    .post-gallery {
      grid-column: 1 / 3;
      grid-row: 3;
      display: inline;
    }
  }
}
